﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar navbar-light navbar navbar-expand-lg " style="background-color: #e3f2fd;">
        <a class="navbar-brand" href="@(Url.Action("FirstPage","Home"))">Pocetna</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="@(Url.Action("Index","Home"))">ToDo App <span class="sr-only">(current)</span></a>
                </li>
                @*<li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Dropdown
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">Disabled</a>
                </li>*@
            </ul>
            <span class="weatherInfo">
                <span class="tempInfo"></span>
                <span class="degree">°C</span>

                <span class="cityInfo"></span>

            </span>
        </div>
    </nav> 
    <div class="container body-content">
        @RenderBody() 
        
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body> 
</html>
<script type="text/javascript">
    $(document).ready(function () {
        $.ajax({
            url: 'http://api.openweathermap.org/data/2.5/weather',
            dataType: 'json',
            type: 'GET',
            data: { q: 'Belgrade', appid: 'f4d50ca957f2961cacffdadcf2b6d3d3', units: 'metric' },
            success: function (data) {
                console.log(data);
                $(".tempInfo").html(Math.floor(data.main.temp));
                $(".cityInfo").html('<span>' + (data.name == 'Belgrade' ? 'Beograd' : data.name) + ', ' + (data.sys.country == 'RS' ? 'Srbija' : data.sys.country) + '</span>')
            }

        })
    });
</script>
