﻿@model PagedList.IPagedList<Data.DoItem>
@using PagedList.Mvc
@using PagedList;
@{
    ViewBag.Title = "ToDoItems"; 
}

<style>
    .tables {
        margin-top: 66px;
    }

    .inputTask {
        width: 280px;
    }
    .page-item {
        font-size: 31px;width: 34px;text-align: center;
    }
    .pagination-container {
        display: inline;position: relative;left: 32%; color: blue;
    }
    a {
        color: white; 
        cursor:pointer;
    }
    a:hover {
        color: white;
        text-decoration:none;
    }
    #Day {
        color:black !important;
    } 
</style>

<div class="firstDiv">
    <h2>ToDo App</h2> 
    <form action="@(Url.Action("AddtoDoItem", "Home"))" method="post">
        <input class="inputTask" type="text" id="text" name="text" placeholder="Enter task" />
        <input class="btn btn-success" type="submit" value="OK" />

    </form>

</div>
<table class="table  tables">
    <thead class="thead-dark">
        <tr>
            <th>Day</th>
            <th>Date</th>
            <th>Task</th>
            <th>Status</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr style='color:@(item.Active==true?"green":"red")'>
            <td id="Day">@(item.DateAdded.Value.DayOfWeek.ToString().Substring(0,3))</td>
            <td>@(item.DateAdded.Value.ToString("dd.MM.yyyy."))</td>
            <td style="@(item.Active == false ?"text-decoration: line-through;":"")">@(item.Item)</td>
            <td>@(item.Active == true ? "active" : "inactive")</td>
            @if (item.Active == true)
            {
                <td>
                    <a class="btn btn-info" href="@(Url.Action("Done","Home",new { id=item.ID}))">Done</a>
                </td>
            }
            <td></td>
        </tr>
        }
    </tbody>

</table>
<div style="background-color: #343a40;">
    @Html.PagedListPager(Model, page => Url.Action("Index", "Home", new { page }),
        new PagedListRenderOptions {
            UlElementClasses=new string[] { "pagination" },
            LiElementClasses = new string[] { "page-item" }
        })
</div> 
<footer>
    <p>&copy; @DateTime.Now.Year - Denijal MyToDoApp</p>
</footer>

